.wrapper {
  color: #BBAEA0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; 
  overflow: hidden;
  margin: 0;
}

.contentWrapper {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  flex-grow: 1; 
  overflow: hidden;
  display: flex;
}

.mainContainer {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100%;
  margin-bottom: 2%;
  position: relative; 
  outline: 2px solid #BBAEA0; 
}

.mainContainer::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; 
  border-left: 2px solid #BBAEA0; 
  transform: translateX(-50%); 
}

.contentSection {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  max-width: 50%;
  margin-top: 10%;
}
.textSection {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-height: 100%;
  justify-content: space-between;
}

.header {
  font-size: 120px;
  font-weight: 400;
  padding-bottom: 0;
  margin-bottom: 5%;
  padding-left: 5%;
}


.mainText {
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: 400;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 4%;
}

.userInput {
  width: 80%; /* This sets the width of the input containers */
  margin: 20px auto; /* This will add space above and below each input while auto centers them horizontally */
  display: flex;
  justify-content: center;
  align-items: center; /* Centers the input vertically in case you have extra height */
}

.userInput input,
.userInput textarea {
  width: 100%; /* This makes the input take the full width of its container (.userInput) */
  padding: 10px;
  margin-bottom: 20px; /* This adds space between the input fields */
  border: 2px solid #BBAEA0;
  background-color: transparent; /* Assumes the background color is set elsewhere to match */
  color: #BBAEA0;
  box-sizing: border-box;
  border-radius: 0; /* Boxy, no curved corners */
  outline: none; /* Optional: removes the default focus outline */
}

.userInput textarea {
  resize: vertical; /* Allows resizing only vertically */
}

.submitButton {
  display: flex; /* This will make it a flex container */
  justify-content: center; /* This will center its children horizontally */
  align-items: center; /* This will center its children vertically */
  width: 100%; /* This takes the full width to allow horizontal centering */
  margin-top: 20px; /* Adds space above the submit button */
  margin-bottom: 5%; /* 5 percent margin from the bottom, adjust as needed */
}

.submitButton button {
  padding: 10px 20px;
  border: 2px solid #BBAEA0; /* Adds a border to the button to match the inputs */
  background-color: #BBAEA0;
  color: white;
  cursor: pointer;
  border-radius: 0; /* Boxy, no curved corners */
  /* Removed margin and align-self since the container will handle the centering */
}

.submitButton button:hover {
  background-color: #a09d9b; /* A darker shade for the hover state */
}
