.header {
  padding: 10px 0; 
  color: #BBAEA0;
  position: relative;
}

.links, .mobileLinks {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
}

.links a, .mobileLinks a {
  color: #BBAEA0;
  text-decoration: none; 
  font-size: 1rem;
  padding: 5px 10px; 
}

.links a:hover, .mobileLinks a:hover {
  text-decoration: underline; 
}

.menuIcon {
  display: none;
  cursor: pointer;
  /* Style your menu icon here */
}

.mobileLinks {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease;
  z-index: 1000;
}

.mobileLinks.open {
  left: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  left: 0px; /* Changed from right to left */
  background: none;
  border: none;
  color: #BBAEA0;
  text-decoration: none; 
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
  .links {
    display: none;
  }
  .menuIcon {
    display: block;
  }
}
