.wrapper {
  color: #BBAEA0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the footer to the bottom */
  min-height: 100vh; /* Full height of the viewport */
  overflow: hidden;
  margin: 0;
  /* min-height: 100vh; Ensure it takes the full viewport height */
}

.contentWrapper {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  flex-grow: 1; /* This makes sure that the content wrapper takes up all available space */
  overflow: hidden;
  display: flex;
  /* outline: 2px solid #BBAEA0; */
}
.mainContainer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100%;
    margin-bottom: 2%;
    position: relative; /* Needed for the absolute positioning of the pseudo-element */
    outline: 2px solid #BBAEA0; /* Example outline for text section */
    padding-left: 5%;
  }
  
  .mainContainer::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* Position at the exact middle of the container */
    border-left: 2px solid #BBAEA0; 
    transform: translateX(-50%); /* Centers the line taking into account its width */
  }

  .mainText {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items vertically with space between */
    max-width: 50%;
    min-height: 100%; /* Adjust minimum height as necessary */
  }
  
  .socialLinks {
    padding: 3% 0; 
  }
  .imageSection {
    flex: 1; /* This allows the image section to grow and take up available space */
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    max-width: 50%; /* Adjust the width as needed */
  }
  
  .header {
    font-size: 120px;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 5%;
  }

  .link {
    padding-right: 40px;
  }
 
 
  .picture {
    width: 60%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .picture img {
    width: 100%; /* This will make the image scale with the .picture div */
    height: auto; /* This will maintain the aspect ratio of the image */
  }
  

